.bodytiza{
    background-color: #232121;
    color: #ffffff;
    text-align: justify;
}

.row-arriba{ 
  background-color: #181717 !important;
  /*padding: 5px;*/
  
}

.celeste{
    
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  background-color: #15a2ce;
  padding: 0px 20px;
  margin-left: 15px;
  
  }
  .rojo {
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  background-color: #d3441e;
  padding: 0px 20px;
  margin-left: 15px;
  }
  .verde{
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  background-color: #9bc92b;
  padding: 0px 20px;
  margin-left: 15px;
  }
.verde  a:hover{ 
  background-color: #9bc92b;
}

.amarillo{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  background-color: #edd70a;
  padding: 0px 20px;
  margin-left: 15px;
}
.amarillo  a:hover{ 
  background-color:  #edd70a;
}

.textopie{
  color: #ffffff;
}

.navbar-toggler-icon {
  background-color: white; /* Cambiar el color del icono a blanco */
}

.navbar {
  justify-content: center ;
}

.bg-body-tertiary { 
  background-color: #181717 !important;
}
.ficcionn{
  color:#d3441e
}
.documental{
  color: #9bc92b;
}
.animacion{
  color: #15a2ce;
}
.videoclip{
  color: #edd70a;
}
.internacional{
  color: #7f2b80;
}
.muestra{
  color:#ff66c4;
}
.azuloscuro{
  color:#41799b
}
.rojito{
  color:#a83636
}
.verdecito{
  color:#74a474
}
.amarillito{
  color:#b58521
}


